<script>
const courses =  [
  {
    "num": "BUS 619",
    "name": "Business Statistics and Analytics",
    "description": "Overview of business statistics and analytics. Pre: None.",
    "url": "https://dport96.github.io/BUS619/"
  },
  {
    "num": "ITM 683",
    "name": "Business Intelligence and Data Analytics",
    "description": "Business Intelligence and Data Analytics Pre: BUS 619.",
    "url": "https://dport96.github.io/ITM683/"
  },
  {
    "num": "MGT 650",
    "name": "Leadership and Organizations",
    "description": "Case studies in Business Leadership. Pre: none.",
    "url": "http://descartes.manoa.hawaii.edu/MGT650/"
  },
  {
    "num": "EE 445",
    "name": "Introduction to Machine Learning",
    "description": "Introduction to Machine Learning",
    "url": "https://descartes.manoa.hawaii.edu/ee445/"
  },
  {
    "num": "EE 342",
    "name": "Introduction to probability and statistics",
    "description": "Introduction to probability and statistics for students in ECE",
    "url": "https://descartes.manoa.hawaii.edu/ee342/"
  },
  {
    "num": "EE 345",
    "name": "Introduction to linear algebra",
    "description": "Introduction to linear algebra developed in preparation for more advanced topics in AI and machine learning in future courses.",
    "url": "https://descartes.manoa.hawaii.edu/ee345/"
  },
  {
    "num": "EE 645",
    "name": "AI/machine learning for research",
    "description": "Machine learning, and a foundational course for graduate students who would like to use AI/machine learning in their research",
    "url": "https://descartes.manoa.hawaii.edu/ee645/"
  },
  {
    "num": "EE 645",
    "name": "wireless communication systems",
    "description": "Basics of wireless communication systems, exciting new topics such as the integration of artificial intelligence (AI) and wireless communications, and emerging paradigms of communication systems such as quantum communication",
    "url": "https://descartes.manoa.hawaii.edu/ee643spring2024/"
  }
]

var courses2 = [
    {id: 'bus619', level: 1, label: 'BUS 619: Business Statistics and Analytics'},
    {id: 'itm683', level: 2, label: 'ITM 683: Business Intelligence and Analytics'},
    {id: 'mgt650', level: 1, label: 'MGT 650: Leadership and Organizations'},
    {id: 'ee445', level: 1, label: 'EE 445: Introduction to Machine Learning'}
  ]

  var courselinks = [
    {from: 'bus619', to: 'itm683'}
  ]
</script>